/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*
references: 
https://www.youtube.com/watch?v=Y8zMYaD1bz0&list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG
https://www.youtube.com/watch?v=u044iM9xsWU
https://www.youtube.com/watch?v=3YW65K6LcIA
https://www.youtube.com/watch?v=SgmNxE9lWcY
https://www.youtube.com/watch?v=SgmNxE9lWcY
https://www.youtube.com/watch?v=wRNinF7YQqQ


*/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: bisque; 
  color: #283618;
  
}

.header {
  background-color:bisque;
  padding: 1rem 0;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center; /* Center the links */
  flex-wrap: wrap; /* Allow the links to wrap on smaller screens */
}
.navbar a {
  color: #283618 ;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.navbar a:hover {
  color: #7bb186;
}

.main-banner {
  position: relative;
  text-align: center;
}

.main-banner img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1 {
    font-size:72px;
}

h2 {
  margin-top: 2rem;
  font-size: 28px;
}

h3 {  
  margin-top: 1rem;
  font-size: 20px;
  color: #283618;
}

h4 {
  margin-bottom: 0.25rem;
  font-size: 16px;

}

p {
  margin-top: 0;
  font-size: 20px;
  color: #283618;
  max-width:80ch;
}

li, ul {
  margin-top: 0;
  font-size: 20px;
  color: #283618;
  max-width:80ch;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #000000; 
  padding: 0.5rem;
  display: inline-block;
  color: #FCCEA7; 
  border: 1px solid #FCCEA7; 
  margin: 1rem 0; 
  white-space: nowrap; 
  overflow-x: auto; 
}


/* Services Section Styling */
.services-title {
  text-align: center;
  color: #283618;
}

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
  background: #333; 
}

.service-box {
  flex: 1; /* This ensures that all flex items take up equal width */
  display: flex;
  flex-direction: column; 
  justify-content: space-between; /* Distribute space vertically inside the box */
  margin: 10px;
  padding: 20px;
  background: #fff; 
  color: #000;
  text-align: center;
  border-radius: 8px;
}

.service-box img {
  width: 100%;
  height: auto;
  margin-bottom: 20px; /* Space between image and text */
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column; /* Stack the service boxes on smaller screens */
  }

  .service-box {
    width: 100%; /* Make each box full width on small screens */
    align-items: center; /* Align content in the middle for small screens */
  }
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .services-content {
    flex-direction: row; /* Side-by-side on larger screens */
  }
}
.text-content {
  width: 50%;
}

.image-content {
  width: 50%;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border: 5px solid #283618;
}
.image-content img {
  margin-top: 20px; 
}
.Images, .product-listing img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
  .product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust based on design */
  }
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: #283618;
}
#personal-training {
  margin-top: 2rem;
  padding: 1rem;
  background: black; 
  color: white; 
}

#personal-training form {
  max-width: 600px;
  margin: auto;
}

#personal-training .input-group {
  margin-bottom: 1rem;
}

#personal-training input[type="text"],
#personal-training input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
#typography
{
  padding: 10px;
  margin: 10px;
}
#typography h1 span{
  font-size: 32px;
  font-weight: lighter;
}
#typography h2 span{
  font-size: 16px;
  font-weight: lighter;
}
#typography h3 span{
  font-size: 16px;
  font-weight: lighter;
}
.Images{
  width:600px;
}
.Images:hover, .Images:focus{
  opacity: 0.3;
  }
  .button-nav:hover, .button-nav:focus {
    background-color: rgb(200,200,200);
  }
  /*
  when hovered over, it changes color to light grey 
  https://www.freecodecamp.org/news/css-button-style-hover-color-and-background/
  */
  .button-nav:hover, .button-nav:focus {
    background-color:#283618;
  }
  
  .InputLabel:hover, .InputLabel:focus{
  

    border-color: #283618;
    
    }
    .button-enquiry, .button-clear {
      padding: 0.5rem;
      color: white;
      background-color: rgb(50,50,50);
      border: none;
      text-decoration: none;
      transition: background-color 0.5s ease;
    }
    
    .button-enquiry:hover, .button-clear:hover {
      background-color: #283618; 
      color: black; 
    }
   
  
  .button-enquiry:hover {
      background-color:  #7bb186; 
  }
  .product-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto; 
    max-width: 800px; /* Set a max-width for the container */
}

.product-item {
  display: flex;
  background-color:  #7bb186;
  border-radius: 4px;
  width: 100%; 
  overflow: hidden;
}

.product-image {
    width: 50%; 
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%; 
}

.product-info h3 {
    margin-bottom: 10px; 
    font-size: 1.5em; /* Increase the the font size to 1.5remm */
}

.product-info p {
    margin: 5px 0;
    font-size: 1.2em; /* Increasingn rhreb  the font size */
}
@media (max-width: 768px) {
  .product-item {
      flex-direction: column;
  }

  .product-image,
  .product-info {
      width: 100%; /
  }

  .product-summary {
      margin: 20px; /* Reducing margin on smaller screens */
  }
}


/* Responsive design */
@media (max-width: 768px) {
  .product-item {
      flex-direction: column;
  }

  .product-image {
      max-width: none; /* Resets the maximmm-width with smaller devices */
      width: 100%; /* Image takes full width */
  }
}
    
    
    
/* Styling for text input fields */
.input-text {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid white; 
  background-color: #000; 
  color: white; 
}

.input-text:hover, .input-text:focus {
  border-color:  #7bb186; 
}

#about_us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.text-content,
.image-content {
  flex: 1;
  padding: 20px;
}

.text-content {
  max-width: 50%;
}

.text-content h1{
    margin-bottom:0px;
}

.image-content {
  max-width: 50%;
}

.image-content img {
  width: 100%;
  height: auto;
}

.indented {
    text-indent: 50px;
}
    
    @media (max-width: 768px) {
      .text-content,
      .image-content {
        max-width: 100%;
      }
    }
    .site-footer {
      background-color: #283618; 
      color: white;
      padding: 1rem 0;
      text-align: center;
  }
  
  .footer-social,
  .footer-links {
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;
  }
  
  .footer-social a,
  .footer-links a {
      color: white;
      padding: 0.5rem;
      text-decoration: none;
      margin: 0 40px;
      margin-top: 5rem;
  }
  
  .footer-social a:hover,
  .footer-links a:hover {
      color: #7bb186; 
  }
  
  /* Style for Font Awesome icons */
  .footer-social .fab {
      font-size: 32px; 
      margin: 0 20px; 
      margin-top: 5rem;
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #fff; 
    
}
  
  @media (max-width: 768px) {
      .footer-social,
      .footer-links {
          flex-direction: column;
      }
  }
    
    /* CopyRight Text */
    .copy-right-text {
      text-align: center;
      width: 100%;
      margin-top: 20px;
      color: white;
    }
    
  .checkout-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.customer-details {
  flex: 3; 
  margin-right: 5rem;
}

.order-summary {
  flex: 2; 
  padding: 20px;
  background-color: #f8f8f8; /* Light grey background */
  border-radius: 8px;
}



.input-text {

 
  border: 1px solid #ccc; /* light grey border */
  background-color: #f0f0f0; 
  color: #333; /* dark grey text color */
  width: 100%; 
  padding: 0.5rem;
  margin-top: 0.5rem;
  
}

.input-text:focus {
  border-color: #5c8a58; 
}

.button-enquiry {
 
  margin-top: 0.9rem;
  background-color: #7bb186; 
  color: #ffffff; 
}

.button-enquiry:hover {
  background-color: #5c8a58; 
}

/* Style for the order summary box */
.order-summary {

  padding: 20px;
  background-color: #f8f8f8; 
  border-radius: 8px;
  border: 1px solid #7bb186; 
}

/* Bag summary styles */
.bag-summary {
  padding-top: 20px; 
}

.bag-item {
  display: flex;
  flex-direction: column; 
 
  border-top: 1px solid #ccc; 
  padding-top: 20px;
}

.bag-image {
  width: 400px; 
  height: auto;
  margin-right: 20px;
}


.bag-item-details p {
  margin: 10px;
  color: #283618; 
}



@media (max-width: 768px) {
  
  .checkout-wrapper,
  .customer-details, 
  .order-summary {
      width: 100%;
      margin-right: 0;
      margin-right: 0;
      margin-left: 0;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content,
.image-content {
  flex: 1; 
  padding: 50px; 
}


.image-content img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  
  .flex-container {
      flex-direction: column;
  }
  
  .text-content,
  .image-content {
      width: 100%; 
  }
}

.event-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
}

.event-box {
  flex: 1; /*  ensures that all flex items take up equal width */
  display: flex;
  flex-direction: column; 
  justify-content: space-between; /* Distribute space vertically inside the box */
  margin: 10px;
  padding: 20px;
  background: #fff; 
  color: #000;
  text-align: center;
  border-radius: 8px;
}


.event-box img {
  width: 100%;
  height: auto;
  margin-bottom: 20px; /* Space between image and text */
}


/*

chnages the overall width of the image 
https://www.w3schools.com/cssref/sel_hover.php
*/
/*



#personal-training input[type="submit"]:hover {
  background-color: #e04e22; 
}



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/



.newsletter-container {
  width: 100%; /* Full width */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f8f8; 
  margin-top: 10px;
  height: 100%;
  border: 5px solid #283618;
}

#newsletter-form input[type="text"],
#newsletter-form input[type="email"] {
  margin-bottom: 10px; 
}
#newsletter-form input[type="text"],
#newsletter-form input[type="email"] {
  padding: 10px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
}

#newsletter-form button {
  padding: 10px 20px;
  background-color: #283618; 
  color: white;
  border: none;
  cursor: pointer;
}

#newsletter-form button:hover {
  background-color: #7bb186; 
}
.contact-section {
  text-align: center;
  max-width: 600px; 
  margin: 0 auto; 
  padding: 1rem;
}

.contact-form-container {
  margin: 2rem auto; 
}

#contact-form label {
  display: block;
  margin-top: 1rem;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#contact-form input[type="submit"] {
  background-color: #7bb186;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

#contact-form input[type="submit"]:hover {
  background-color: #5c8a58;
}

.contact-info {
  text-align: center;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .newsletter-container {
    padding: 10px;
  }
} 